
.CreateProductDisplay{    
    position: relative;
    padding-top: 30px;
    overflow: hidden!important;
    outline: none;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    min-height: 320px;
    border-radius: 4px;
    height: 100vh;
    max-height: 997px;
    width: 400px;
    max-width: 1000px;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    margin: auto;

    label{
        display: block;
        margin-top: 10px!important;
        font-size: 12px;
        line-height: 1.25;
        text-align: left;
        color: rgb(38, 38, 38);
        position: relative;
    }

    .inp{
        height: 36px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(153, 153, 153);
        padding-left: 10px;
        padding-right: 10px;
        line-height: normal;
        font-size: 14px;
        color: rgb(38, 38, 38);
    }

    .inp:focus {
        border: 1px solid rgb(2, 108, 223);
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        box-shadow: rgb(2 108 223) 0px 0px 4px 0px inset;
        background-color: rgb(255, 255, 255);
        outline: none;
    }

    .submit{
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
        line-height: 2.43;
        width: 100%;
        padding: 0px 12px;
        min-width: 60px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background-color: rgb(2, 108, 223);
        border: 1px solid transparent;
        transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    }

    .TransparentButton{
        background-color: transparent;
        border: none;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    .CardInput{
        width: 100%;
        input{
            width: auto;
        }
        input#cardNumber{
            width: 60%!important;
            font-size: 14px;
        }
        input#expiryDate{
            width: 15%!important;
            font-size: 14px;
        }
        input#cvc{
            width: 15%!important;
            font-size: 14px;
        }
        svg{
            width: 10%;
        }
    }

    .MoveToCheckoutDisplay{
        margin-top: 20px;
        font-size: 40px;
        h3{
            font-size: 15px;
            text-align: center;
        }
        .Continue{
            display: block;
            margin: auto;
            margin-top: 30px;
            border: 0px solid rgb(2, 108, 223);
            background-color: gainsboro;
            border-radius: 7px;
            width: 300px;
            height: 40px;
            font-size: 20px;
            font-weight: 700;
        }
        .Valid{
            background-color: gainsboro;
            font-size: 20px;
            cursor: pointer;
            color: rgb(2, 108, 223);
        }
        .Valid:hover{
            background-color: rgb(2, 108, 223);
            font-size: 20px;
            cursor: pointer;
            color: white;
        }
    }
}

.Preview{
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 20px;
    .ImageWrapper{
        position: relative;
        width: 100px;
        text-align: center;
        margin: 10px;
        height: 100px;
        border: 1px solid black;
        border-radius: 10px;
        .Delete{
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: transparent;
            border: 0px;
            z-index: 1;
            cursor: pointer;
            i{
                font-size: 20px
            }
        }
        .Delete:hover{
            i{
                color: red;
            }
        }
        img{
            position: absolute;
            max-width:95%;
            max-height:95%;
            display: block;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;

            overflow: hidden;
            margin: auto;
        }
    }
}

::-ms-browse {
    background: transparent;
    color: rgb(2, 108, 223);
    border: 1px solid rgb(2, 108, 223);
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
  }

textarea{
    resize: vertical;
    min-width: 100px;
    width: 150px;
    max-height: 200px;
}

  ::-webkit-file-upload-button {
    background: transparent;
    color: rgb(2, 108, 223);
    border: 1px solid rgb(2, 108, 223);
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
  }

  ::-webkit-file-upload-button :hover{
    background-color: rgb(2, 108, 223);
  }
  
.Selector{
    margin-top: 10px;
}