.Gallery{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.sideMenu{
    min-width: 200px;
    width: 30%;
    overflow: hidden;
    float: left;
}

@for $i from 1 through 4 {
    div:nth-child(#{$i}) {
      animation-delay: .25s * $i;
    }
  }
  