.Gallery{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.sideMenu{
    min-width: 200px;
    width: 30%;
    overflow: hidden;
    float: left;
}

.ProductsDisplay{
    width: 70%;
    float: right;
}

.product{
    border-top: 1px solid black;
    padding: 15px;
    animation: fadeIn;
    animation-fill-mode: both;
    cursor: pointer;
}

.product:hover{
    border-top: 5px solid rgb(2, 108, 223);
    h1{
      color: rgb(2, 108, 223);
    }
    
}

@for $i from 1 through 4 {
    div:nth-child(#{$i}) {
      animation-delay: .25s * $i;
    }
  }
  
  // Keyframe animation
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  