.Cart{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    .CartProductsDisplay{
        overflow-y: scroll;
        height: 400px;
    }
    .pr{
        display: flex;
    }
    .trash{
        width: 100px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        i{
            font-size: 30px;
        }
    }
    .trash:hover{
        i{
            color: rgb(212, 52, 52);
        }
    }
    .cartProduct{
        padding: 10px;
        width: 70%;
        height: 150px;
        margin: auto;
        border-top: 1px solid black;
        h1{
            text-align: left;
            font-size: 30px;
        }
        
    }

    .quantityDisplay{
        width: 100px;
        margin: auto;
        height: 50px;
        .minus{
            float: left;
        }
        p{
            width: 40px;
            font-size: 30px;
            padding: 5px 0px;
            float: left;
            text-align: center;
        }
        .plus{
            float: right;
        }
        button{
            margin-top: 5px;
            border: 1px solid rgb(2, 108, 223);
            border-radius: 7px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
            font-weight: 900;
            font-size: 15px;
            text-align: center;
            transition: 0.1s ease;
        }
        button:hover{
            background-color: rgb(2, 108, 223);
            font-size: 20px;
        }
    }
    .Continue{
        border: 1px solid rgb(2, 108, 223);
        border-radius: 7px;
        width: 300px;
        height: 40px;
        font-size: 20px;
        font-weight: 700;
    }

    .Continue:hover{
        background-color: rgb(2, 108, 223);
        font-size: 20px;
        cursor: pointer;
        color: white;
    }
    .CartProductActionsDisplay{
        display: flex;
    }
}

