<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5f01f371-9a27-4231-b5dc-f2b55fef2ca1/resourceGroups/marketplacefrt_group/providers/Microsoft.Web/sites/marketplacefrt</ResourceId>
    <ResourceGroup>marketplacefrt_group</ResourceGroup>
    <ApiResourceId>/subscriptions/5f01f371-9a27-4231-b5dc-f2b55fef2ca1/resourceGroups/marketplacefrt_group/providers/Microsoft.ApiManagement/service/FlatRockTechOnlineMarketWebAPIapi/apis/FlatRockTechOnlineMarketWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://marketplacefrt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>29785a62-a5a3-475b-8b16-efe1a743af3c</ProjectGuid>
    <PublishUrl>https://marketplacefrt.scm.azurewebsites.net/</PublishUrl>
    <UserName>$marketplacefrt</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>